/* .dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f3f4f2;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
} */

/* .light {
  --color-bg-primary: #f3f4f2;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
} */

/* :root {
  @apply .light;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.datePicker {
  width: auto;
  color: blue;
}

body {
  background-color: #f3f4f2;
}

.glass {
  background: linear-gradient(180deg, #eaf3ff11 0%, #fbe3ff34 100%);
  backdrop-filter: blur(2px);
}

.login_button {
  transition: all 0.5s;
  position: relative;
}
.login_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, #df6721 0%, #ee7f00 114.16%);
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}
.login_button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.login_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border: 2px solid #df6721;
  border-radius: 0.375rem;
  transform: scale(1, 1);
}
.login_button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
